VITE_SUPABASE_URL=https://etetwvmfzobddlaofzpe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV0ZXR3dm1mem9iZGRsYW9menBlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1MjAxMzQsImV4cCI6MjA5ODA5NjEzNH0.ezvx2YGM0O1s3TxOh2MdWVlqZ1vcS7JWpqfBKFaolGk